{% extends "base.html" %}
{% block title %}Retrieve users{% endblock %}

{% block content %}
<a href="{{url_for('home')}}">Home</a>

<h1 class="display-4">Retrieve users</h1>

<div>
    {% if count == 0 %}
    <p>There are no users.</p>
    {% elif count == 1 %}
    <p>There is 1 user.</p>
    {% else %}
    <p>There are {{ count }} users.</p>
    {% endif %}
</div>

<div>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email address</th>
              <th scope="col">Account Type</th>
              <th scope="col">Points</th>
              <th scope="col">Orders</th>
              <th scope="col">Creation Date</th>
              <th scope="col">Last Login</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Contact No.</th>
              <th></th>
            </tr>
          </thead>

        <tbody>
          {% for user in users_list %}
          <tr>
            <td>{{ user.get_user_id() }}</td>
            <td>
              {% if user.get_account_type() != "Staff" %}
              <a class="text-heading font-semibold" href="#">
                {{ user.get_first_name() ~ " " ~
                user.get_last_name() }}
              </a>
              {% else %}
              <a class="text-heading font-semibold" href="#">
                ILoveMeals Staff
              </a>
              {% endif %}
            </td>
            <td>{{ user.get_email() }}</td>
            <td>
              {% if user.get_account_type() != "Staff" %}
              <span class="badge rounded-pill bg-success"
                >{{ user.get_account_type() }}</span
              >
              {% else %}
              <span class="badge rounded-pill bg-danger"
                >{{ user.get_account_type() }}</span
              >
              {% endif %}
            </td>
            <td>
              {% if user.get_account_type() != "Staff" %} {{
              user.get_points() }} {% else %} 0 {% endif %}
            </td>
            <td>
              {% if user.get_account_type() != "Staff" %} {{
              user.get_orders()|length }} {% else %} 0 {% endif %}
            </td>
            <td>{{ user.get_creation_date() }}</td>
            <td>
              {{ user.get_last_login().strftime("%d/%m/%Y %I:%M:%S %p")}}
            </td>
            <td>
              {% if user.get_account_type() != "Staff" %}
              {{ user.get_dob().strftime("%d/%m/%Y") }}
              {% else %} N/A
              {% endif %}
            </td>
            <td>
              {% if user.get_account_type() != "Staff" %}
              {{ user.get_contactnumber() }}
              {% else %} N/A
              {% endif %}
            </td>
            
            <td class="text-end">
              {% if user.get_account_type() != "Staff" %}
              <a
                href="/staff/users/{{ user.get_email() }}"
                class="btn btn-sm btn-neutral"
                ><i class="bi bi-pencil"></i
              ></a>
              <a
                class="btn btn-sm btn-square btn-neutral text-danger-hover"
                href="/staff/users/delete/{{ user.get_email() }}"
                onclick="return confirm('Are you sure you want to delete this user?');"
              >
                <i class="bi bi-trash"></i>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}